.info {
  color: green;
}

.error {
  color: red;
}

.info, .error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}


.App{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}